<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" type = "image/x-icon" href="/client/resources/favicon.ico">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="/client/lib/notiflix-aio.js"></script>

    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    


    <title>Obligatorio 1</title>

    <link rel="stylesheet" href="/client/styles/config.css">

    
    <script>
      let ip = '<%- ip %>'; 
      let sens = '<%- sens %>'; 
      let unidad = '<%- unidad %>'; 

    </script>

</head>


<body style="overflow: hidden">


    <div id = 'containerDiv' >

      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
        aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <a class="navbar-brand" href="/">
            <img src="./client/resources/t_icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Controlador de temperatura
          </a>
          
        <div class="collapse navbar-collapse" id="navbarSupportedContent15">
          <ul class="navbar-nav mr-auto">
          </ul>
          <ul class="nav navbar-nav navbar-right">               
            <li class="nav-item">
                <a class="nav-link" href="/logout"><span class="fa fa-sign-out" style='font-size:18px' ></span> Log out</a>
            </li>
          </ul>
        </div>
      </nav>
      
        <div class = "row text-center top-buffer2">
            <div class = "col-md-4"></div>
            <div class = "col-md-4">
                <h1 class="display-4">Configuracion de sensor: <%= sens %></h1>
            </div>
            <div class = "col-md-4"></div>
        </div>

        <div class="grey-bg container-fluid">
            <section id="minimal-statistics">
              <div class="row">
                <div class="col-12 mt-3 mb-1">
                </div>
              </div>
              <div class="row">
                <div class="col-xl-2"></div>
                <div class="col-xl-4 col-sm-6 col-12">
                    <div class="card">
                      <div class="card-content">
                        <div class="card-body">
                          <div class="media d-flex">
                            <div class="align-self-center">
                              <i class="material-icons md-36">remove</i>
                            </div>
                            <div class="media-body text-right">
                              <h3 id = "h-temp-min">20 ºC</h3>
                              <span> <%= magnitud %> minima</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            
                  <div class="col-xl-4 col-sm-6 col-12">
                    <div class="card">
                      <div class="card-content">
                        <div class="card-body">
                          <div class="media d-flex">
                            <div class="align-self-center">
                              <i class="material-icons md-36">add</i>
                            </div>
                            <div class="media-body text-right">
                              <h3 id = "h-temp-max">80 ºC</h3>
                              <span><%= magnitud %> maxima</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-xl-2"></div>
                <div class="col-xl-2 col-sm-12 col-12">
                  <div class="card">
                    <div class="card-content">
                      <div class="card-body">
                        <div class="media d-flex">
                          <div class="align-self-center">
                            <i class="material-icons md-36">timelapse</i>
                          </div>
                          <div class="media-body text-right">
                            <h3 id = "h-tiempo-muestreo">5 s</h3>
                            <span>Tiempo de muestreo</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-sm-12 col-12">
                  <div class="card">
                    <div class="card-content">
                      <div class="card-body">
                        <div class="media d-flex">
                          <div class="align-self-center">
                            <i class="material-icons md-36">email</i>
                          </div>
                          <div class="media-body text-right">
                            <h3 id = "h-email">diegomarvid99@gmail.com</h3>
                            <span>Email de destino</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-2 col-sm-12 col-12">
                  <div class="card">
                    <div class="card-content">
                      <div class="card-body">
                        <div class="media d-flex">
                          <div class="align-self-center">
                            <i class="material-icons md-36">alarm</i>
                          </div>
                          <div class="media-body text-right">
                            <h3 id = "h-tiempo-alarma">60 m</h3>
                            <span>Tiempo entre alarmas</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>    

        <div class = "row text-center top-buffer2">
            <div class = "col-md-4"></div>
            <div class = "col-md-4">
                <h4> <%= magnitud %> limite</h4>
            </div>
            <div class = "col-md-4"></div>
        </div>
    
   
        <div class="row top-buffer">
            <div class = "col-md-4"></div>
            <div class="col-md-2">
                <input id = "min_temp_id" type="number" class="form-control" placeholder="<%= magnitud %> minima (<%= unidad %>)"
                        oninput= "javascript: if (this.value.length > '<%= max_magnitud %>') this.value = this.value.slice(0,'<%= max_magnitud %>'); if (this.value < 0) this.value = 0"
                >
                </div>
            <div class="col-md-2">
                <input id = "max_temp_id" type="number" class="form-control" placeholder="<%= magnitud %> maxima (<%= unidad %>)"
                    oninput= "javascript: if (this.value.length > '<%= max_magnitud %>') this.value = this.value.slice(0,'<%= max_magnitud %>'); if (this.value < 0) this.value = 0"
                >
            </div>
            <div class = "col-md-4">
                <button class="btn btn-primary" type="button" id = "temp-range-confirm">Confirmar</button>
            </div>
        </div>

        <div class = "row text-center top-buffer2">
            <div class = "col-md-4"></div>
            <div class = "col-md-4">
                <h4>Tiempo entre muestras</h4>
            </div>
            <div class = "col-md-4"></div>
        </div>

        <div class = "row top-buffer">
            <div class = "col-md-4"></div>
                <div class="col-md-4">
                    <input id = "muestras_id"type="number" class="form-control" placeholder="Tiempo entre muestras (segundos)"
                    oninput= "javascript: if (this.value.length > 3) this.value = this.value.slice(0,3); if (this.value < 0) this.value = 0"
                    >
                </div>
                <div class = "col-md-4">
                    <button class="btn btn-primary" type="button" id = "muestras-confirm">Confirmar</button>
                </div>
        </div>

        <div class = "row text-center top-buffer2">
            <div class = "col-md-4"></div>
            <div class = "col-md-4">
                <h4>Correo para alertas</h4>
            </div>
            <div class = "col-md-4"></div>
        </div>

        <div class = "row top-buffer">
            <div class = "col-md-4"></div>
                <div class="col-md-4">
                    <input id = "correo_id"type="text" class="form-control" placeholder="ejemplo@ejemplo.com"
                    pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"
                    required>
                </div>
                <div class = "col-md-4">
                    <button class="btn btn-primary" type="button" id = "email-confirm">Confirmar</button>
                </div>
        </div>

        <div class = "row text-center top-buffer">
            <div class = "col-md-4"></div>
            <div class = "col-md-4">
                <h4>Tiempo entre alertas</h4>
            </div>
            <div class = "col-md-4"></div>
        </div>

        <div class = "row top-buffer">
            <div class = "col-md-4"></div>
                <div class="col-md-4">
                    <input id = "alerta_tiempo_id"type="number" class="form-control" placeholder="tiempo (minutos)"
                    oninput= "javascript: if (this.value.length > 2) this.value = this.value.slice(0,2); if (this.value < 0) this.value = 0">
                </div>
                <div class = "col-md-4">
                    <button class="btn btn-primary" type="button" id = "alerta-tiempo-confirm">Confirmar</button>
                </div>
        </div>
                  
        <script src="/client/js/config.js"></script>

 
        <div class = "row top-buffer"></div>
        <div class = "row top-buffer"></div>
        <div class = "row top-buffer"></div>
        <div class = "row top-buffer"></div>
        <div class = "row top-buffer"></div>
        <div class = "row top-buffer2"></div>
        <div class = "row top-buffer2"></div>
        <div class = "row top-buffer2"></div>
        <div class = "row top-buffer2"></div>
        <div class = "row top-buffer3"></div>

        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
              <img src="/client/resources/ort_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
              Universidad ORT Uruguay
            </a>
            <span class="navbar-text">
                Diego Marvid y Valentin Otte
              </span>
          </nav>

    
           
        


    </div>


</body>

</html>